* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.calculator {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}
#display {
    background-color: white;
    margin: 10px;
    padding: 10px;
    font-size: 65px;
    display: flex;
    justify-content: flex-end;
}